{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}
{% load custom_filters %}
<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
{% get_current_language as LANGUAGE_CODE %}

<div class="custom-page-wrapper">
	{% comment %}<h2>{{ "About" | custom_translate:LANGUAGE_CODE}}</h2>{% endcomment %}
	<h2>PED-TV</h2>
	<hr/>
	<img src="{% static 'images/PED-TV_banner.jpg' %}" alt="PED-TV Logo" />
	<div class="empty-media">
		<div style="text-align: left;">
			<p>
				PED-TV is a population health initiative to improve the health and wellbeing of local children and their families,
				by streaming educational content and signposting to local and national resources.
			<p>
				All resources on PED-TV have been shared with the permission of the owner, organisation or charity, with the intent that it is displayed in health care settings,
				such as emergency departments, outpatient departments or hospital wards.
			</p>
			<p>
				All content has been vetted by the PED-TV team at Royal Manchester Children's Hospital, and is reviewed annually. If there are any comments, suggestions or feedback please direct it to <a href="mailto:Noellie.Mottershead@mft.nhs.uk">Noellie.Mottershead@mft.nhs.uk</a>
			</p>
		</div>
		<div>
			<a href="/playlists/5Un2I3f2N" class="button-link">GO TO THE PLAYLIST</a>
		</div>
	</div>
</div>

{% endblock %}
